// Color assignments 
$font-color: $shark;
$button-bg: $blue;
$main-bg:  $white;
$navigation-border: $silver;
$footer-bg: $sandy-beach;

// Colors
$white: #FFFFFF;
$yellow: #FFCA25;
$green: #5BA077;
$blue: #386C99;
$sandy-beach: #FFEBCD;

// Media Queries
$mobile: (max-width: 500px);